$root-font-size: 10px;

$primary-bg-color: #383e4b;
$secondary-bg-color: #227fcf;
$primary-selected-bg-color: #22262e;

$primary-text-color: white;
$secondary-text-color: purple;

$main-section-padding: 30px;
$sidebar-icon-width: 50px;
$sidebar-item-height: 42px;
$animation-fast: 0.3s;

$navbar-height: 52px;
$sidebar-width: 220px;
$footer-height: $sidebar-icon-width;
$footer-color: #33364c;

$primary-box-shadow: 0px 3px 14px -3px #00000057;
$underline-box-shadow: 0 2px 1px -1px #8080803d;
